In [78]:
import pandas as pd

#cargar los datos a un DataFrame
archivo_excel = "C:\\Users\\ssgon\\OneDrive - Universidad de los andes\\2025-1\\Analitica\\proyecto_aptos\\datos_apartamentos_rent.xlsx"
df = pd.read_excel(archivo_excel)

In [79]:
# Ver la información general del dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10000 non-null  int64
 1   category       10000 non-null  object
 2   title          10000 non-null  object
 3   body           10000 non-null  object
 4   amenities      6451 non-null   object
 5   bathrooms      9966 non-null   float64
 6   bedrooms       9993 non-null   float64
 7   currency       10000 non-null  object
 8   fee            10000 non-null  object
 9   has_photo      10000 non-null  object
 10  pets_allowed   5837 non-null   object
 11  price          10000 non-null  int64
 12  price_display  10000 non-null  object
 13  price_type     10000 non-null  object
 14  square_feet    10000 non-null  int64
 15  address        6673 non-null   object
 16  cityname       9923 non-null   object
 17  state          9923 non-null   object
 18  latitude       9990 non-null   float64
 19  longitude      9990 non-null   float64
 20  source         10000 non-null  object
 21  time           10000 non-null  int64
dtypes: float64(4), int64(4), object(14)
memory usage: 1.7+ MB
None

In [80]:
# Resumen estadístico de las variables numéricas
print(df.describe())

                 id    bathrooms     bedrooms         price   square_feet  \
count  1.000000e+04  9966.000000  9993.000000  10000.000000  10000.000000
mean   5.623396e+09     1.380544     1.744021   1486.277500    945.810500
std    7.021025e+07     0.615410     0.942354   1076.507968    655.755736
min    5.508654e+09     1.000000     0.000000    200.000000    101.000000
25%    5.509248e+09     1.000000     1.000000    949.000000    649.000000
50%    5.668610e+09     1.000000     2.000000   1270.000000    802.000000
75%    5.668626e+09     2.000000     2.000000   1695.000000   1100.000000
max    5.668663e+09     8.500000     9.000000  52500.000000  40000.000000

          latitude    longitude          time
count  9990.000000  9990.000000  1.000000e+04
mean     37.695162   -94.652247  1.574891e+09
std       5.495851    15.759805  3.762395e+06
min      21.315500  -158.022100  1.568744e+09
25%      33.679850  -101.301700  1.568781e+09
50%      38.809800   -93.651600  1.577358e+09
75%      41.349800   -82.209975  1.577359e+09
max      61.594000   -70.191600  1.577362e+09

In [81]:
# Contar valores nulos por columna
print(df.isnull().sum())

id                  0
category            0
title               0
body                0
amenities        3549
bathrooms          34
bedrooms            7
currency            0
fee                 0
has_photo           0
pets_allowed     4163
price               0
price_display       0
price_type          0
square_feet         0
address          3327
cityname           77
state              77
latitude           10
longitude          10
source              0
time                0
dtype: int64

In [82]:
#visualizar valores unicos
print(df.nunique())

print(df["currency"].unique())
print(df["fee"].unique())
print(df["category"].unique())
print(df["has_photo"].unique())
print(df["pets_allowed"].unique())
print(df["price_type"].unique())

id               10000
category             3
title             9350
body              9961
amenities         2254
bathrooms           14
bedrooms            10
currency             1
fee                  1
has_photo            3
pets_allowed         3
price             1725
price_display     1726
price_type           3
square_feet       1738
address           6658
cityname          1574
state               51
latitude          2395
longitude         2392
source              12
time              6310
dtype: int64
['USD']
['No']
['housing/rent/apartment' 'housing/rent/home' 'housing/rent/short_term']
['Thumbnail' 'Yes' 'No']
[nan 'Cats,Dogs' 'Cats' 'Dogs']
['Monthly' 'Weekly' 'Monthly|Weekly']

In [83]:
#Eliminar columnas no relevantes
df = df.drop(columns=["title", "body", "currency", "fee", "price_display", "address"])

In [84]:
#Contar valores nulos
print(df.isnull().sum())

id                 0
category           0
amenities       3549
bathrooms         34
bedrooms           7
has_photo          0
pets_allowed    4163
price              0
price_type         0
square_feet        0
cityname          77
state             77
latitude          10
longitude         10
source             0
time               0
dtype: int64

In [85]:
#Rellenar valores nulos

#Se asume que nulos en mascotas significa que no se permiten mascotas
df["pets_allowed"] = df["pets_allowed"].fillna("No")

#Se remplaza los nulos de baños y habitaciones con la mediana
df["bathrooms"] = df["bathrooms"].fillna(df["bathrooms"].median())
df["bedrooms"] = df["bedrooms"].fillna(df["bedrooms"].median())

In [86]:
#Contar valores nulos
print(df.isnull().sum())

id                 0
category           0
amenities       3549
bathrooms          0
bedrooms           0
has_photo          0
pets_allowed       0
price              0
price_type         0
square_feet        0
cityname          77
state             77
latitude          10
longitude         10
source             0
time               0
dtype: int64

In [87]:
#Remplazar nulos de ciudades y estados con la moda
df["cityname"] = df["cityname"].fillna(df["cityname"].mode()[0])
df["state"] = df["state"].fillna(df["state"].mode()[0])
df["latitude"] = df["latitude"].fillna(df["latitude"].mode()[0])
df["longitude"] = df["longitude"].fillna(df["longitude"].mode()[0])

In [88]:
#Contar valores nulos
print(df.isnull().sum())

id                 0
category           0
amenities       3549
bathrooms          0
bedrooms           0
has_photo          0
pets_allowed       0
price              0
price_type         0
square_feet        0
cityname           0
state              0
latitude           0
longitude          0
source             0
time               0
dtype: int64

In [89]:
#Todos los precios en mensuales
print(df[df["price_type"] == "Monthly|Weekly"])
print(df[df["price_type"] == "Weekly"])

def volver_mensual(fila):
    if fila["price_type"] == "Weekly":
        fila["price"] = fila["price"] * 4
    return fila

df = df.apply(volver_mensual, axis=1)

             id                category  \
235  5625835116  housing/rent/apartment

                                           amenities  bathrooms  bedrooms  \
235  Cable or Satellite,Pool,Refrigerator,Storage,TV        1.0       2.0

     has_photo pets_allowed  price      price_type  square_feet  cityname  \
235  Thumbnail    Cats,Dogs    275  Monthly|Weekly          300  Lakeland

    state  latitude  longitude     source        time
235    FL   28.0451   -81.9689  ListedBuy  1574891000
            id                category  \
15  5659276240  housing/rent/apartment

                                            amenities  bathrooms  bedrooms  \
15  AC,Basketball,Cable or Satellite,Gym,Internet ...        1.0       1.0

    has_photo pets_allowed  price price_type  square_feet  cityname state  \
15  Thumbnail    Cats,Dogs   1560     Weekly          200  New Bern    NC

    latitude  longitude     source        time
15   35.0847   -77.0609  ListedBuy  1576618076

In [90]:
#Contar el numero de amenities
df["amenities_count"] = df["amenities"].apply(lambda x: len(str(x).split(",")) if pd.notna(x) else 0)

In [91]:
#Cambiar variables categoricas a formato númerico
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# Definir las columnas categóricas a convertir
one_hot_cols = ["category", "has_photo", "pets_allowed", "source"]

# Inicializar el encoder con sparse_output=False para obtener un DataFrame normal
encoder = OneHotEncoder(sparse_output=False, drop="first")  # drop="first" evita multicolinealidad

# Ajustar y transformar los datos
encoded_data = encoder.fit_transform(df[one_hot_cols])

# Convertir a DataFrame con nombres de columnas
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(one_hot_cols))

# Unir con el DataFrame original y eliminar las columnas categóricas originales
df = df.drop(columns=one_hot_cols).reset_index(drop=True)
df = pd.concat([df, encoded_df], axis=1)

# Verificar los cambios
print(df.head())

           id amenities  bathrooms  bedrooms  price price_type  square_feet  \
0  5668626895       NaN        1.0       0.0    790    Monthly          101
1  5664597177       NaN        1.0       1.0    425    Monthly          106
2  5668626833       NaN        1.0       0.0   1390    Monthly          107
3  5659918074       NaN        1.0       0.0    925    Monthly          116
4  5668626759       NaN        1.0       0.0    880    Monthly          125

     cityname state  latitude  ...  source_Listanza  source_ListedBuy  \
0  Washington    DC   38.9057  ...              0.0               0.0
1  Evansville    IN   37.9680  ...              0.0               0.0
2   Arlington    VA   38.8910  ...              0.0               0.0
3     Seattle    WA   47.6160  ...              0.0               0.0
4   Arlington    VA   38.8738  ...              0.0               0.0

   source_RENTCafé  source_RENTOCULAR  source_Real Estate Agent  \
0              0.0                0.0                       0.0
1              0.0                0.0                       0.0
2              0.0                0.0                       0.0
3              0.0                0.0                       0.0
4              0.0                0.0                       0.0

   source_RealRentals  source_RentDigs.com  source_RentLingo  source_rentbits  \
0                 0.0                  0.0               1.0              0.0
1                 0.0                  0.0               1.0              0.0
2                 0.0                  0.0               1.0              0.0
3                 0.0                  0.0               1.0              0.0
4                 0.0                  0.0               1.0              0.0

   source_tenantcloud
0                 0.0
1                 0.0
2                 0.0
3                 0.0
4                 0.0

[5 rows x 31 columns]

In [92]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

label_cols = ["cityname", "state"]
for col in label_cols:
    df[col] = label_encoder.fit_transform(df[col])

In [94]:
#Contar valores nulos
print(df.isnull().sum())

id                                     0
amenities                           3549
bathrooms                              0
bedrooms                               0
price                                  0
price_type                             0
square_feet                            0
cityname                               0
state                                  0
latitude                               0
longitude                              0
time                                   0
amenities_count                        0
category_housing/rent/home             0
category_housing/rent/short_term       0
has_photo_Thumbnail                    0
has_photo_Yes                          0
pets_allowed_Cats,Dogs                 0
pets_allowed_Dogs                      0
pets_allowed_No                        0
source_Home Rentals                    0
source_Listanza                        0
source_ListedBuy                       0
source_RENTCafé                        0
source_RENTOCULAR                      0
source_Real Estate Agent               0
source_RealRentals                     0
source_RentDigs.com                    0
source_RentLingo                       0
source_rentbits                        0
source_tenantcloud                     0
dtype: int64

In [95]:
#eliminar columnas no relevantes
df = df.drop(columns=["amenities", "price_type", ])