In [14]:
import pandas as pd

#cargar los datos a un DataFrame
archivo_excel = "C:\\Users\\ssgon\\OneDrive - Universidad de los andes\\2025-1\\Analitica\\proyecto_aptos\\datos_apartamentos_rent.xlsx"
df = pd.read_excel(archivo_excel)

In [15]:
# Ver la información general del dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10000 non-null  int64
 1   category       10000 non-null  object
 2   title          10000 non-null  object
 3   body           10000 non-null  object
 4   amenities      6451 non-null   object
 5   bathrooms      9966 non-null   float64
 6   bedrooms       9993 non-null   float64
 7   currency       10000 non-null  object
 8   fee            10000 non-null  object
 9   has_photo      10000 non-null  object
 10  pets_allowed   5837 non-null   object
 11  price          10000 non-null  int64
 12  price_display  10000 non-null  object
 13  price_type     10000 non-null  object
 14  square_feet    10000 non-null  int64
 15  address        6673 non-null   object
 16  cityname       9923 non-null   object
 17  state          9923 non-null   object
 18  latitude       9990 non-null   float64
 19  longitude      9990 non-null   float64
 20  source         10000 non-null  object
 21  time           10000 non-null  int64
dtypes: float64(4), int64(4), object(14)
memory usage: 1.7+ MB
None

In [16]:
# Resumen estadístico de las variables numéricas
print(df.describe())

                 id    bathrooms     bedrooms         price   square_feet  \
count  1.000000e+04  9966.000000  9993.000000  10000.000000  10000.000000
mean   5.623396e+09     1.380544     1.744021   1486.277500    945.810500
std    7.021025e+07     0.615410     0.942354   1076.507968    655.755736
min    5.508654e+09     1.000000     0.000000    200.000000    101.000000
25%    5.509248e+09     1.000000     1.000000    949.000000    649.000000
50%    5.668610e+09     1.000000     2.000000   1270.000000    802.000000
75%    5.668626e+09     2.000000     2.000000   1695.000000   1100.000000
max    5.668663e+09     8.500000     9.000000  52500.000000  40000.000000

          latitude    longitude          time
count  9990.000000  9990.000000  1.000000e+04
mean     37.695162   -94.652247  1.574891e+09
std       5.495851    15.759805  3.762395e+06
min      21.315500  -158.022100  1.568744e+09
25%      33.679850  -101.301700  1.568781e+09
50%      38.809800   -93.651600  1.577358e+09
75%      41.349800   -82.209975  1.577359e+09
max      61.594000   -70.191600  1.577362e+09

In [17]:
# Contar valores nulos por columna
print(df.isnull().sum())

id                  0
category            0
title               0
body                0
amenities        3549
bathrooms          34
bedrooms            7
currency            0
fee                 0
has_photo           0
pets_allowed     4163
price               0
price_display       0
price_type          0
square_feet         0
address          3327
cityname           77
state              77
latitude           10
longitude          10
source              0
time                0
dtype: int64

In [18]:
#visualizar valores unicos
print(df.nunique())

print(df["currency"].unique())
print(df["fee"].unique())
print(df["category"].unique())
print(df["has_photo"].unique())
print(df["pets_allowed"].unique())
print(df["price_type"].unique())

id               10000
category             3
title             9350
body              9961
amenities         2254
bathrooms           14
bedrooms            10
currency             1
fee                  1
has_photo            3
pets_allowed         3
price             1725
price_display     1726
price_type           3
square_feet       1738
address           6658
cityname          1574
state               51
latitude          2395
longitude         2392
source              12
time              6310
dtype: int64
['USD']
['No']
['housing/rent/apartment' 'housing/rent/home' 'housing/rent/short_term']
['Thumbnail' 'Yes' 'No']
[nan 'Cats,Dogs' 'Cats' 'Dogs']
['Monthly' 'Weekly' 'Monthly|Weekly']

In [19]:
#Eliminar columnas no relevantes
df = df.drop(columns=["title", "body", "currency", "fee", "price_display", "address"])

In [20]:
#Contar valores nulos
print(df.isnull().sum())

id                 0
category           0
amenities       3549
bathrooms         34
bedrooms           7
has_photo          0
pets_allowed    4163
price              0
price_type         0
square_feet        0
cityname          77
state             77
latitude          10
longitude         10
source             0
time               0
dtype: int64

In [21]:
#Rellenar valores nulos

#Se asume que nulos en mascotas y amenities significa que no se permiten mascotas y no se cuenta con amenities
df["pets_allowed"] = df["pets_allowed"].fillna("No")
df["amenities"] = df["amenities"].fillna("No")

#Se remplaza los nulos de baños y habitaciones con la mediana
df["bathrooms"] = df["bathrooms"].fillna(df["bathrooms"].median())
df["bedrooms"] = df["bedrooms"].fillna(df["bedrooms"].median())

In [22]:
#Contar valores nulos
print(df.isnull().sum())

id               0
category         0
amenities        0
bathrooms        0
bedrooms         0
has_photo        0
pets_allowed     0
price            0
price_type       0
square_feet      0
cityname        77
state           77
latitude        10
longitude       10
source           0
time             0
dtype: int64

In [ ]:
#Remplazar nulos de ciudades y estados con la moda
df["cityname"] = df["cityname"].fillna(df["cityname"].mode()[0])
df["state"] = df["state"].fillna(df["state"].mode()[0])
df["latitude"] = df["latitude"].fillna(df["latitude"].mode()[0])
df["longitude"] = df["longitude"].fillna(df["longitude"].mode()[0])

In [26]:
#Contar valores nulos
print(df.isnull().sum())

id              0
category        0
amenities       0
bathrooms       0
bedrooms        0
has_photo       0
pets_allowed    0
price           0
price_type      0
square_feet     0
cityname        0
state           0
latitude        0
longitude       0
source          0
time            0
dtype: int64